/*
	This contains some global rules
 */

@import "colors"
@import "sizes"

body, html 
	background-color: $background-color
	color: $text-color
	font-size: $font-size

.centered
    margin: 0 auto

nav
	width: 40em
	margin: 1em auto
	display: block

div#graph 
	width: 90%
	margin: 2em auto